<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ElectronPOS" connectionString="Data Source=192.168.1.57;Initial Catalog=ElectronPOS;Persist Security Info=True;User ID=Electron;Password=abcd1234!"
            providerName="System.Data.SqlClient" />
        <add name="ElectronPOS.Properties.Settings.ElectronPOSConnectionString"
            connectionString="Data Source=192.168.1.57;Initial Catalog=ElectronPOS;User ID=Electron;Password=abcd1234!"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>